<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="styles/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="styles/cover.css" rel="stylesheet">
    <link href="styles/custom.css" rel="stylesheet">

</head>

<body class="body">

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h2 class="masthead-brand">PostIt</h2>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="index.html">Login</a></li>
                            <li><a href="signup.html">Sign up</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h2 class="cover-heading"><strong>Login to PostIt,</strong></h2>
                <p class="lead">Share your moment with colleagues and friends.</p>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-8">
                            <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-8">
                            <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group lead">
                        <div class="col-lg-offset-2 col-lg-8">
                            <button type="submit" class="btn btn-lg btn-success btn-block">Login now</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <div class="checkbox" style="text-align: left">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                            <p>
                                No Account yet ? <a class="text-underline" href="signup.html"><strong>Sign up</strong></a>
                            </p>
                        </div>
                    </div>
                </form>

            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Designed by by Jimoh Hadi</p>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>window.jQuery || document.write('<script src="js/jquery-3.2.1.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>