dist
Dockerfile
.dockerignore
node_modules
yarn-error.log
.idea
.nyc_output
idea/
/*.xml
/playground
npm-debug.log
bin/
/reports
screenshots/
.DS_Store
/coverage
/production
server2
/server/uploads/*
!server/uploads/default.png
build
