sudo: required
dist: trusty
language: node_js
node_js: "6"
script:
  - npm test
services:
  - postgresql
before_script:
  - psql -c 'CREATE DATABASE testpostit;' -U postgres
before_install:
 - export CHROME_BIN=/usr/bin/google-chrome
 - export DISPLAY=:99.0
 - sh -e /etc/init.d/xvfb start
after_success: npm run coverage