<html>
<head>
    <style>
        body{
            background-color: #f5f5f5;
        }
        #body-wrapper{
            background-color: #ffffff;
            margin-right: 20%;
            margin-left: 20%;
            border-radius: 10px;
        }
        #level{
            color: {{color}};
        }
        #header{
            background-color: #000000;
            padding: 10px 0 10px 30px;
            color: #ffffff;
        }
        #footer{
            padding: 0 10px 20px 30px;
            color: #19b698;
            font-size: 15px;
        }
        #inner-body{
            padding: 0 0 10px 30px;
        }
        #notify-header{
            color: #19b698;
        }
        hr{
            border: 0;
            border-top: 1px solid #eee;
            height: 0;
            box-sizing: content-box;
            display: block;
            unicode-bidi: isolate;
        }
    </style>
</head>
<body>
<div id="body-wrapper">
    <h2 id="header"><span>Hi,</span></h2>
    <div id="inner-body">
        <h3 id="notify-header">You have one notification from PostIt</h3>
        <p>Notification Level: <strong><span id="level">{{level}}</span></strong></p>
        <p><a href="https://jimoh-postit.herokuapp.com/signin">Click here</a> to access your PostIt account</p>
    </div>
    <hr/>
    <div>
        <p id="footer">Sent by the <strong>PostIt</strong> team!!!</p>
    </div>
</div>
</body>
</html>