<html>
<head>
    <style>
        #body{
            background-color: #f5f5f5;
            margin-right: 20%;
            margin-left: 20%;
        }
        #header{
            background-color: #e3e3e3;
            padding: 10px 0px 10px 10px;
        }
        #footer{
            background-color: #e3e3e3;
            padding: 10px 10px 10px 10px;
        }
        #inner-body{
            padding: 0px 0px 5px 10px;
        }
    </style>
</head>
<body>
<div id="body">
    <h2 id="header">Hi {{username}}!,</h2>
    <div id="inner-body">
        <h3>You have requested to change your password</h3>
        <p>If it was you, <a href="{{link}}">Click here</a> to reset your password</p>
        <p>If it wasn't you, please disregard this email</p>
    </div>
    <p id="footer">The PostIt management team!!!</p>
</div>
</body>
</html>