.body{
  background-image: url("../images/social2-x.jpg");
}
#group-body{
  margin-top: 70px;
}
.text-signup{
  color: black;
  padding-top: 20px;
}
.text-underline{
  text-decoration: underline;
}
#create-group-div{
  height: 250px;
  margin-top: 20px;
}
#add-user-div{
  height: 200px;
  margin-top: 20px;
}
#post-message-div{
  margin-top: 20px;
}
#message-board-panel{
  margin-top: 20px;
  padding: 0 0 0 0;
}